@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poiret+One&family=Press+Start+2P&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image: url(../assets/images/white-texture.jpg);
  /* gap: 5px; */
}
p {
  text-align: center;
  width: 75%;
}

h4 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  gap: 2px;
  background-color: #ccc;
}

#counter {
  border: solid black 1px;
  font-size: 1.2em;
  /* margin: 10px; */
  padding: 5px;
  color: red;
  font-family: "Press Start 2P", serif;
}
#timer {
  border: solid black 1px;
  font-size: 1em;
  /* margin: 10px; */
  padding: 5px;
  color: red;
  font-family: "Press Start 2P", serif;
}

.header-container {
  display: flex;
  justify-content: space-between;

  width: 500px;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: lightgray;
  cursor: pointer;
  font-size: 1.5rem;
}

.cell.revealed {
  background-color: white;
}

.cell.mine {
  background-color: red;
}

.cell.flagged {
  background-color: yellow;
}

button {
  margin: 15px;
  height: 40px;
  width: 75px;
  background-color: red;
  font-size: 1.5em;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.orange {
  color: orangered;
}
.purple {
  color: purple;
}
