@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-red: #f15bb5;
  --main-blue: #00bbf9;
  --main-yellow: #fee440;
  --main-purple: #681fc1;
  --main-gray: #f2e1eb;
  --main-white: white;
  --main-orange: #e4572e;
  --main-green: #23967f;
  --num-rows: 9;
  --num-cols: 9;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  background-image: url(../assets/images/white-texture.jpg);
  gap: 10px;
}

h1 {
  font-size: 2.5em;
  margin: 0px;
  font-family: "Orbitron", Arial, sans-serif;
}

#message {
  font-size: calc(5vmin);
}
/* 
#instructions {
  text-align: center;
  width: 60%;
  font-size: 1.2em;
  margin: 0px;
  background-color: white;
} */

.cell img {
  height: 80%;
  width: 80%;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-template-rows: repeat(var(--num-rows), 1fr);
  width: 500px;
  aspect-ratio: var(--num-cols) / var(--num-rows);
  background-color: var(--main-gray);
}

#counter,
#timer {
  border: solid black 1px;
  font-size: 1.5em;
  padding: 10px;
  color: var(--main-red);
  font-family: "Press Start 2P", serif;
  text-align: center;
  margin-top: 5px;
}

/* #timer {
  border: solid black 1px;
  font-size: 1.5em;
  padding: 5px;
  color: var(--main-red);
  font-family: "Press Start 2P", serif;
  margin-top: 5px;
  /* width: auto; */
/* flex-shrink: 0; */

.counter-container,
.timer-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
}

.game-info-container {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  text-align: center;
  /* width: 30%; */
  align-items: center;
  font-size: 1em;
  margin-bottom: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: var(--main-gray);
  cursor: pointer;
  font-size: calc(3vmin);
}

.cell.revealed {
  background-color: var(--main-white);
}

.cell.mine {
  background-color: var(--main-red);
}

.cell.flagged {
  background-color: var(--main-yellow);
}

#game {
  display: none;
  flex-direction: column;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 15px;
  background-color: var(--main-red);
  font-size: 1.5em;
  font-family: "Orbitron", Arial, sans-serif;
}

.blue {
  color: var(--main-blue);
}

.green {
  color: var(--main-green);
}

.orange {
  color: var(--main-orange);
}

.purple {
  color: var(--main-purple);
}

.red {
  color: var(--main-red);
}

.hidden {
  display: none;
}

#game {
  max-width: 100%;
  max-height: 100vh;
}

/* The overlay background (cover the entire screen) */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "💣";
  padding-right: 5px;
}

/* The popup content box */
.popup-content {
  background-color: var(--main-red);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 100%;
  font-family: "Orbitron", Arial, sans-serif;
}

/* Button to close the popup */
.close-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: var(--main-gray);
}

#submitBtn:hover {
  background-color: white;
}

#intro {
  font-size: 1.5em;
}

/* form {
  border: solid black 1px;
} */
